body {
    background: rgba(35,35,35,0.1);
}
.title {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.title p {
    margin: 0.5rem auto;
}

.form {
    background: #9198e5;
}

.text label,
.text input {
    display: block;
    width: 75%;
    margin: 0 auto;
}

.text input {
    margin-bottom: 0.5rem;
}

.select label,
.select select {
    width: 75%;
    display: block;
    margin: 0 auto;
}

.radio {
    width: 75%;
    margin: 0 auto;
}

.checkbox {
    width: 75%;
    margin: 0 auto;
}

.textarea {
    width: 75%;
    margin: 0 auto;
}

.textarea label {
    display: block;
}

.button {
    width: 75%;
    margin: 0 auto;
}

