* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    background: rgba(35,35,35,0.2);
    
    
}

.main {
    border: 1px solid black;
}
.title {
    width: 100%;
    font-family: Helvetica;
    color: rgba(0,0,0,0.7)
}

.title h1 {
    margin: 2rem auto 0.5rem auto;
    text-align: center;
    width: 90%;
    
}

.title p {
    margin: 0.5rem auto 1.5rem auto;
    text-align: center;
    width: 90%;
}

.form {
    background: #9198e5;
    width: 100vw;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    
    
    
    
}

.text {
    margin: 1rem 0;
    padding-left: 0.5rem;
    width: 90%; 
     
    
}

.text label,
.text input {
    display: block;
}

.text label {
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
    
}
.text input {
    
    border: 2px solid green;
    font: inherit;
    color: blue;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    width: 90%;
}

.text input {
    outline: none;
}

.select {
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    width: 90%;
}
.select label,
.select select {
    width: 75%;
    display: block;
    font: inherit;
    
    
}

.select select {
    border: 2px solid green;
    padding: 0.25rem;
    
}

.select select:focus {
    outline: none;
}

.select label {
    font-size: 1.25rem;
}

.radio {
    width: 90%;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

#span {
    display: block;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    
}

.checkbox {
    width: 90%;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    
}

.checkbox input:focus {
    outline: none;
}


.textarea {
    width: 100%;
    min-height: 8rem;

    margin-bottom: 1rem;
    
}

.textarea label {
    display: block;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    
}

.textarea textarea {
    width: 100%;
    
    resize: vertical;
}

.textarea textarea:focus {
    outline: none;
}

.button {
    width: 100%;
    
}

.button  button {
    background: green;
    color: white;
    font-size: 1.25rem;
    border: 1px solid green;
    border-radius: 5px;
    padding: 1rem 0;
    width: 100%;
}



.button button:hover,
.button button:active {
    color: green;
    background: white;
    border-color: transparent;
}




@media (min-width: 25rem) {
    .form {
        width: 75%;
        margin: 0 auto;
        padding: 2.5rem;
        max-width: 45rem;
    }
    .text label,
    .text input {
    
    width: 100%;
    margin: 0 auto;
    }

    .select label,
    .select select {
    width: 100%;
    margin: 0 auto;
    }

    .button button {
        width: 25%;
    }

}